Universal selector
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-sizing:border-box;
}

/* Element selectors */
body {
  background-color: lemonchiffon;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*changed this to an id*/
.header {
  grid-column: span 12;
  /*line-height: 100px;*/
  color: #111110;
  background-color: #191970;
  color: #f0ead6;
  font-size: 40px;
  grid-row: auto;
  border: 5px solid #111110;
  border-bottom: none;
}

.header h1 {
    text-align: center;
}

.navigation-menu {
    grid-column: span 2;
    background-color: #191970;
    flex-wrap: wrap;
    color: #f0ead6;
    border: 5px solid black;
}

a.nav-buttons {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #191970;
    background-color: #f0ead6;
    text-align: center;
    transition: all 0.2s;
}

ul {
    list-style-type: none;
}

ul .navigation {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    text-align: center;
    margin-bottom: 50px;
}

li .navigation {
    display: block;
}

a.nav-buttons:hover {
    background-color: aqua;
}

.main-content {
    grid-column: span 10;
    text-align: center;
}

.footer {
    grid-column: span 12;
    display: flex;
    /*line-height: 100px;*/
    color: #111110;
    background-color: #191970;
    color: white;
    font-size: 15px;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* Class selector */
.highlighted-text {
  font-weight: bolder;
}

/* ID selector */
#contact-section {
  background-color: #f0ead6;
}

/*************FOR MAP ***********/
/***********************************/
/***********************************/

/*This is the container for the section
of the map and the form. Used flex-box
to keep both containers in the same line*/
#mapAndResults{
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-around;
  height: 300px;
  margin-bottom:13px;
  margin-right:12px;
  border-radius:2px;
}

/*The map will take up a little more than
half the width and the full height of the
mapAndResults container*/
#googleMap{
    width: 60%;
    height: 100%;
}

/*The location-container
holds the form and the div with
the appended list of stores nearby*/
#location-container{
  width: 35%;
  flex-wrap:wrap;
  align-items:flex-start;
  padding-left:10px;
  height: 100%;
}

/*form for user imput*/
#search-nearby{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex:1;
  justify-content: flex-start;
}

/*The image that appears when 
the user selects on a marker*/
#locations-list img{
  max-width:100px;
  max-height:100px;
  flex-wrap:wrap;
}

.form-entry{
  margin-right: 20px;
}

/*The appendd list of a marker
from the maps*/
#results{
  flex-wrap:wrap;
  width:100%;
  padding-top:20px;
}

.hero-body{
  background-image: url(../images/cap\ salad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}