Universal selector
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Element selectors */
body {
  background-color: lemonchiffon;
}

#title{
  width: 50%;
  border-radius: 5px;
  color:white;
  font-weight:bolder;
  background-color:rgba(0,209,178,.6);;
  min-height:max-content;
  text-align:center;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* Class selector */
.highlighted-text {
  font-weight: bolder;
}

/* ID selector */
#contact-section {
  background-color: #f0ead6;
}

.hero-body{
  background-image: url(../images/cap\ salad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

}

.soup{
  background-image: url("../images/soup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: auto;
}

.entree{
  background-image: url("../images/tacos.jpg");
  background-repeat: no-repeat;
  background-position-y:bottom;
  background-size: cover;
  width:100%;
  height: auto;
}

.dessert{
  background-image: url("../images/brownies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: auto;
  background-position-x:right;
}

/*************FOR MAP ***********/
/***********************************/
/***********************************/

/*This is the container for the section
of the map and the form. Used flex-box
to keep both containers in the same line*/
.hero.is-link {
  background-color:lemonchiffon;
}

#mapAndResults{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-around;
  margin-bottom:12px;
  border-radius:3px;
  min-height: 50%;
}

/*The map will take up a little more than
half the width and the full height of the
mapAndResults container*/
#googleMap{
    width: 60%;
    height: 100%;
}

/*The location-container
holds the form and the div with
the appended list of stores nearby*/
#location-container{
  width: 35%;
  flex-wrap:wrap;
  align-items:flex-start;
  height: 100%;
  background-color: #485fc7;
  border-radius: 4px;
}

/*form for user imput*/
#search-nearby{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex:1;
  justify-content: flex-start;
}

/*The image that appears when 
the user selects on a marker*/
#locations-list img{
  max-width:100px;
  max-height:100px;
  flex-wrap:wrap;
}

/*The appendd list of a marker
from the maps*/
#results{
  flex-wrap:wrap;
  width:100%;
  padding-top:20px;
}

input, select, label {
  display:block;
  width: 100%;
  min-height:fit-content;
  text-align:left;
  padding:5px;
  margin-bottom:20px;
}

button.form-entry{
  margin-top:20px;
}


#subheader{
  width: 50%;
  border-radius: 5px;
  color:white;
  font-weight:bolder;
  background-color:rgba(0,209,178,.6);;
  padding: auto auto auto auto;
  min-height:max-content + 20px;
  text-align:center;
  padding:auto;
  margin-bottom:10px;
  height: 20%;
}