Universal selector
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-sizing:border-box;
}

/* Element selectors */
body {
  background-color: lemonchiffon;
}


.title {
  width: 100%;
  height: 30px;
  /*line-height: 100px;*/
  color: #111110;
  background-color: #191970;
  color: white;
}


figure {
  width: 200px;
  background-color: #f0ead6;
}

/* Class selector */
.highlighted-text {
  font-weight: bolder;
}

/* ID selector */
#contact-section {
  background-color: #f0ead6;
}

/*************FOR MAP ***********/
/***********************************/
/***********************************/

/*This is the container for the section
of the map and the form. Used flex-box
to keep both containers in the same line*/
#mapAndResults{
  margin-top: 20px;
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: space-around;
  height: 400px;
}

/*The map will take up a little more than
half the width and the full height of the
mapAndResults container*/
#googleMap{
    width: 60%;
    height: 100%;
}

/*The location-container
holds the form and the div with
the appended list of stores nearby*/
#location-container{
  width: 35%;
  flex-wrap:wrap;
  align-items:flex-start;
  padding-left:10px;
  height: 100%;
}

/*form for user imput*/
#search-nearby{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex:1;
  justify-content: flex-start;
}

/*The image that appears when 
the user selects on a marker*/
#locations-list img{
  max-width:100px;
  max-height:100px;
  flex-wrap:wrap;
}

.form-entry{
  margin-right: 20px;
}

/*The appendd list of a marker
from the maps*/
#results{
  flex-wrap:wrap;
  width:100%;
  padding-top:20px;
}